// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

span.govuk-heading-xl {
    color: govuk-colour("white");
    padding: govuk-spacing(3);
    margin-bottom: 0px;
  }

p.govuk-body-m {
  color: govuk-colour("white");
  padding-left: govuk-spacing(3);
  padding-right: govuk-spacing(3);
}

.govuk-accordion__controls {
  display: none;
}

.govuk-grid-row.card-container {
  padding-inline-start: 0px;
  color: govuk-colour("white");
  }

.govuk-grid-row {
  margin: 0px;
}

.govuk-grid-column-one-third:first-child {
  padding-left: 0px;
  padding-right: 10px;
  }

.govuk-grid-column-one-third:last-child {
  padding-left: 10px;
  padding-right: 0px;
  }

.govuk-grid-column-one-third {
  padding-left: 10px;
  padding-right: 10px;
}

.card {
    background-color: $govuk-brand-colour;
  }

.js-enabled .govuk-accordion__section-button {
  color: $govuk-brand-colour;
  padding-left: govuk-spacing(3);
  padding-top: govuk-spacing(3);
}

.js-enabled .govuk-accordion__section {
  background-color: #E5EEF6;
  border: 0.5px $govuk-brand-colour solid;
}

.card-footer {
  margin-top: govuk-spacing(3);
}

.govuk-accordion__section-content {
  padding-left: govuk-spacing(3);
  padding-right: govuk-spacing(3);
}

.govuk-tabs__panel .govuk-caption-m {
  margin-bottom: 10px;
}

.sprint-goals {
  margin-bottom: govuk-spacing(7);
}

.govuk-table {
  margin-bottom: govuk-spacing(9);
}

.govuk-details {
  margin-bottom: govuk-spacing(2);
}

.govuk-main-wrapper {
  padding-top: 0px;
}

.govuk-heading-xl {
  padding-top: 10px;
}

.govuk-tag.govuk-phase-banner__content__tag.high {
  background-color: govuk-colour("green");
}

.govuk-tag.govuk-phase-banner__content__tag.medium {
  background-color: $govuk-focus-colour;
  color: govuk-colour("black");
}

.govuk-tag.govuk-phase-banner__content__tag.low {
  background-color: $govuk-error-colour;
}

.logo-large {
  width: 18%;
  height: 18%;
  margin-top: 30px;
}
